.chatroom-body {
  background-color: #abc1d1;
  height: 1100vh;
}
.chatroom-body .alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
.chatroom-body .status-bar {
  background-color: #abc1d1;
}
.chatroom-screen {
  padding: 100px 20px 0px 20px;
}

.chatroom-screen-date {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.chatroom-screen-date-text {
  background-color: #92a4b2;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
}
.chatroom-screen-user-component-you {
  display: flex;
  width: 100%;
  align-items: center;
}
.chatroom-screen-user-component-you img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.chatroom-screen-user-component-me {
  display: flex;
  justify-content: flex-end;
}
.chatroom-screen-user-component__content {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}
.chatroom-screen-user-component__time {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
}
.chatroom-screen-user-component-you .chatroom-screen-user-component__chat {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0px;
}
.chatroom-screen-user-component-me .chatroom-screen-user-component__chat {
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  order: 2;
}
.chatroom-screen-user-component-me .chatroom-screen-user-component__time {
  order: 1;
}
.chatroom-screen-user-component__avatar {
  margin-right: 5px;
}
.chatroom-screen-user-component__name {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-sizing: border-box;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 5px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}
.reply i {
  color: var(--half-grey);
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -2px;
  top: 6px;
}
.reply__column:last-child > i {
  right: 35px;
  top: 13px;
}
.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button > i {
  color: black;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
