.cog__point {
  background-color: tomato;
  border-radius: 3px;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-frieds__title {
  font-size: 12px;
  color: var(--half-grey);
}
.recommended-friends span {
  margin: 110px 0px;
  text-align: center;
  display: block;
  font-size: 18px;
  color: var(--half-grey);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__column {
  display: flex;
  flex-direction: column;
}
.open-post__title {
  font-weight: bolder;
  margin-bottom: 5px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 10px;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.open-post__member-count {
  opacity: 0.6;
}
.open-post__members .divider {
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}
.open-post__member-status {
  color: palevioletred;
}
.open-post__photo {
  position: relative;
}
.open-post__column:last-child img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}
.open-post__heart-number {
  background-color: var(--half-grey);
  color: white;
  font-size: 13px;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.open-post__heart-number span {
  margin-left: 3px;
}
