.setting-screen {
  border-bottom: var(--main-border);
  padding: 30px;
}
.settings-screen {
  display: flex;
  flex-direction: column;
}

.settings-screen__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.settings-screen__item:last-child {
  border-bottom: 1px solid white;
}
.settings-screen__item-text {
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
}
.settings-screen__item-cf-text {
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
}
.settings-screen__item i {
  margin-right: 20px;
  font-size: 30px;
}
.settings-screen__item-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings-screen__item-icon .fa-flask {
  margin-left: 8px;
}
.settings-screen__item-icon .fa-info-circle {
  margin-left: 5px;
}
.settings-screen__item-icon .fa-comment {
  margin-right: 15px;
}
.settings-screen__item-icon .fa-tv {
  margin-right: 10px;
}
.settings-screen__item-icon .fa-brush {
  margin-right: 25px;
}
.settings-screen__item-cf-text {
  color: var(--half-grey);
}
