.setting-screen {
  padding: 0px 20px;
}
.settings-screen {
  padding-bottom: 20px;
}
.settings-screen__item-icon {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-screen__item-icon i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.8;
}
.settings-screen__item-icon-column {
  display: flex;
}
.settings-screen__item-icon span {
  font-weight: 600;
  margin-right: 10px;
}
.settings-screen__item-cf-text {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}
