.icon-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.icon-row__icon {
  margin-top: 20px;
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
  font-weight: bold;
}
