.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}
.screen-header__icons :nth-child(n) {
  margin: 0px 0px 0px 10px;
}
.screen-header__icons__cog {
  position: relative;
}

.screen-header__icons__cog span {
  background-color: tomato;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
