.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 3px;
}
.status-bar__colume {
  width: 33%;
  display: flex;
}
.status-bar__colume:first-child span {
  margin-right: 5px;
}
.status-bar__colume:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__colume:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__colume .fa-battery-three-quarters {
  margin: 0px 5px;
}
