.user-component {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__column:nth-child(2) {
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__column:nth-child(2) i {
  margin-left: 5px;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.user-component__subtitle {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  display: inline;
}
.user-component__text i {
  color: tomato;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__column-time {
  display: block;
  margin-bottom: 10px;
}
